@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab&display=swap');

:root {
    --main-color: #312418;
    --btn-color: #e1a932;
    --title-size: 20px;
    --text-size: 14px;
    --white: #fff;
    --black: #000;
    --title-font: 'Roboto Slab', serif;
    --text-font: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-family: var(--title-font);
    font-size: 50px;
}

h2 {
    font-family: var(--title-font);
    font-size: 40px;
}

header {
    background: center/100% no-repeat url("../img/header_img.jpg");
    width: 100%;
    height: 100vh;
    
}

header ul {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    margin: 0 auto;
    font-family: var(--text-font);
    font-weight: 600;
    font-size: var(--title-size);
    color: var(--main-color);
    cursor: pointer;
}

a:visited {
    color: var(--main-color);
}

header ul li:hover, header ul li a:hover {
    color: var(--btn-color);
}

header #presentation {
    height: 300px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15rem;
    margin-left: 10rem;
}

header #presentation button {
    width: 430px;
    height: 100px;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--btn-color);
    border: none;
    font-size: var(--title-size);
}

header #presentation button:hover {
    cursor: pointer;
    background-color: var(--main-color);
}